.flipCard {
  width: 400px;
  height: 200px;
  position: relative;
  margin: 0 auto 30px auto;
}

.container {
  display: flex;
  justify-content: center;
}
#newSession {
  height: 100px;
  width: 300px;
  font-size: 3rem;
  margin: 25px auto;
  border-style: none;
  text-decoration: none;
  position: static;
}
.buttons {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

button:focus {
  outline: none;
  box-shadow: none;
}
#content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotatey(-180deg);
  transition: transform 0.5s;
}
#english,
#spanish {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  backface-visibility: hidden; /*  W3C */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  overflow: auto;
  font-size: 3em;
  text-align: center;

  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#english {
  background-color: #0069d9;
  color: white;
}
#spanish {
  transform: rotatey(180deg);
  background-color: #5599d9;
  color: black;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#loginIcon {
  margin: auto;
}
.error-alert {
  margin: 40px auto;
}

.progress {
  width: 400px;
  margin: 0 auto 20px auto;
  opacity: 0;
  transition: all, 1s, ease-in, 1s;
}

#correctProgress {
  width: 0%;
}

#incorrectProgress {
  width: 0%;
}

.start-button {
  width: 250px;
  height: 50px;
}

.button-container {
  min-height: 50px;
  opacity: 0;

  transition: all, 1.5s, ease-in, 1s;
}
.trans {
  opacity: 1;
}

.invisible {
  display: none;
}
